*.aux        # Auxiliary file
*.log        # Log file (compilation details)
*.out        # Output file (section/page data)
*.toc        # Table of Contents
*.lof        # List of Figures
*.lot        # List of Tables
*.fls        # File list
*.fdb_latexmk # latexmk database file
*.fmt        # Format file
